[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = {extras = ["email"], version = "*"}
jwt = "*"
passlib = "*"
tortoise = "*"
python-jose = {extras = ["cryptography"], version = "*"}
aiofiles = "*"
uvicorn = "==0.17.5"
gunicorn = "*"
fastapi = "==0.75.0"
pymysql = "*"
sqlalchemy = "==1.4.32"

[dev-packages]

[requires]
python_version = "3.8"
